*{

    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    background-color: #ffffff;
    color:#555;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
  scroll-behavior: smooth;
}
.row{
    max-width:71.25rem;;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url('./image/header22.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-top: 0;
    background-attachment: fixed;
}

h1{
    margin-top: 0;
    margin-bottom: 1.25rem;
    color: #ffffff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    word-spacing: 0.1875em;
}
.Hero-text-box{
    position: absolute;
    width: 59.375vw;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.btn:link,
.btn:visited,
input[type = submit]
{
   display: inline-block;
    text-decoration: none;
    padding: 0.625rem 1.875rem;
    font-weight: 300;
    border-radius: 12.5rem;
    transition: background-color 0.2s, border 0.2s , color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type = submit]
{
    background-color: rgb(108, 207, 10) ;
    color:#f4f4f4;
    border:2px solid rgb(120, 167, 39);
    margin-right: 25px;
}
.btn-ghost:visited,
.btn-ghost:link
{
   border: 2px solid chartreuse;
    color:#555;
}
.btn:hover,
.btn:active,
input[type="submit"]:hover
{
    background-color: rgb(77, 146, 7);
    
}

.btn-ghost:hover,
.btn-ghost:active{
   border: 2px solid rgb(108, 207, 10);
    color:#fcfcfc;
}
.btn-full:hover,
.btn-full:active
input[type = submit]
{
    border: 2px  solid  rgb(108, 207, 10) ;
   
}
.logo{
    height: 17.5vh;
    width: auto;
    float: left;
    margin-left:3.75rem;
    margin-top: 1.25em;
}
.main-nav{
    float: right;
    list-style: none;
    margin:3.4375em;
}
.main-nav li{
    display: inline-block;
    margin-left: 2.5em;
}
.main-nav li a:link,
.main-nav li a:visited
{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0px;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:visited
{
    border-bottom: 2px solid rgb(108, 207, 10) ;
    
}

h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size:180%;
    word-spacing: 2px;
    text-align: center;
    margin: 30px;
    letter-spacing: 1px;
}
h2::after{
    display: block;
    height: 2px;
    background-color:rgb(108, 207, 10);
    content:" ";
    width: 100px;
    margin:0 auto;
    margin-top: 30px;
}
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left:15%;
    
}
.box{
    padding: 1%;
}
h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15%;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}
.icon-big{
    font-size: 350%;
    display: block;
    color:rgb(108, 207, 10) ;
    margin-bottom: 10px;
}
.meal-showcase{
    list-style: none;
    width: 100%;

}
.meal-showcase li{
 display: block;
 float: left;
      width: 25%;
      
    
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    
    transition: transform 0.5s,opacity 0.5s;
    height: 290px;
}
.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;
}
.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}
.clearfix{zoom:1}
.clearfix::after{
    content:'.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}

.section-meal{
    padding: 0;
    
}

.section-features .long-copy{
    margin-bottom: 30px;
}
.work-step{
    margin-bottom: 50px;
    margin-right: 25px;
}
.step-box:first-child{
    text-align: center;
    padding-right: 3%;
    margin-top: 30px;
}
.step-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen{


}
.work-step div{

    color:rgb(108, 207, 10);
    border:4px solid rgb(108, 207, 10);
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding:5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;

    
    
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.btn-app:link,
.btn-app:visited{

    border:0;
}
.work-step:last-of-type{
    margin-bottom: 80px;
}
.section-steps{
   background-color: #555;
  
}
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.city-feature{
    margin-bottom: 5px;
}
.icon-class
{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: rgb(108, 207, 10);
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}
.city-feature a:link,
.city-feature a:visited{
    color:rgb(108, 207, 10);
    text-decoration: none;
    border-bottom: 1px solid rgb(108, 207, 10);
    padding-bottom: 1px;
}
.city-feature a:hover,
.city-feature a:active{
    color: #555;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s,color;
}
.section-testimonials{
    padding-top: 50px;
background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) , url('./image/Fast-Food-Restaurants\ \(1\).jpg');
background-size: cover;
color: #fff;
background-attachment: fixed;
margin-top: 50px;


}
.section-cities{
    width:100%;
   
    position: relative;
    overflow: hidden;

}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;
    position: relative;

}
cite{
    font-size: 90%;
    display: block;
    margin-top: 25px;
}
cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
blockquote::before{
    content: '\201C';
    font-size: 500%;
    display: block;
    position:absolute;
    top:0;
    left:-3px;
}
.section-plan{
    
   height: auto;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    
    background-color: #ecf4ec;
}
.plan-box{
    background-color: #fff;
    width: 80%;
    border-radius: 5px;
    margin-left: 5%;
    

}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;

}
.plan-price{
    font-size: 200%;
    margin-bottom: 10px;
    font-weight: 100;
    color: rgb(108, 207, 10);
}
.plan-price-meal{
    font-size: 80%;
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
}

.plan-box div:last-child{
    border:0;
    text-align: center;
   
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  
}

.contact-form{
    width: 60%;
    margin: 0 auto;
}
input[type = text],
input[type = email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
textarea{
    height: 100%;

}
input[type=checkbox]{
    margin: 10px 5px 10px 0;
    
}
footer{
    background-color: #333;
    font-size: 80%;
    padding: 50px;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-link{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-link{
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li,
.social-link li{
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-link li a:link,
.social-link li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
}
.footer-nav li a:hover,
.footer-nav li a:hover{
    color: #ddd;
}
footer p{
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;
}
.fb:hover{
    color:#3b5998;
}
.twitter:hover{
    color:#00aced;
}
.google:hover{
 color: #dd4b39;
}
.insta:hover{
    color:#517fa4;
}
.social-link li a:link,
.social-link li a:visited{
    font-size: 160%;
}
.section-form{
    

}